.value-0 {

}

.value-1 {
  background-color: #565656;
}

.value-2 {
  background-color: #D05353;
}

.value-3 {
  background-color: #E58F65;
}

.value-4 {
  background-color: #F9E784;
}

.value-5 {
  background-color: #5DAF54;
}

.value-6 {
  background-color: #3165EA;
}

.value-7 {
  background-color: #6D58C9;
}

.value-8 {
  background-color: #C4B8F9;
}

.value-9 {
  background-color: white;
}
