.value-1 {
  background-color: #ff2d55;
}

.value-2 {
  background-color: #ff3b30;
}

.value-3 {
  background-color: #ff9500;
}

.value-4 {
  background-color: #ffcc00;
}

.value-5 {
  background-color: #4cd964;
}

.value-6 {
  background-color: #5ac8fa;
}

.value-7 {
  background-color: #34aadc;
}

.value-8 {
  background-color: #007aff;
}

.value-9 {
  background-color: #5856d6;
}
