body {
  background: #e2e2e2;
}

nav {
  height: 60px;
  background-color: #F9423A;
  box-shadow: 0 2px 4px rgba(0,0,0,0.25);
  border-bottom: 4px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Iceland', cursive;
  color: white;
  font-size: 2.2em;
  text-transform: uppercase;
}

.rowButtons {
  margin-top: 20px;
}

.rowButtons button {
  font-size: 0.6em;
  border-radius: 5px;
  border: 2px solid #F9423A;
  color: #F9423A;
  margin: 0px 20px;
  padding: 0px 20px;
}

.rowButtons button:hover {
  background-color: #F9423A;
  color: white;
}

.infoFooter {
  z-index: 7;
  position: fixed;
  height: 60px;
  top: 0;
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}

.separator {
  position: relative;
  height: 50px;
  width: 90%;
  min-width: 425px;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer {
  height: 50px;
  border-radius: 25px;
  padding: 0 30px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F9423A;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Iceland', cursive;
}

.timeText {
  font-size: 0.8em;
}

.button-holder {
  display: flex;
}

.help-button {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F9423A;
  font-weight: bold;
  font-size: 2em;
  font-family: 'Iceland', cursive;
}

.nav-button {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F9423A;
  font-weight: bold;
  font-size: 2em;
}

.nav-button-in {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  border-radius: 50%;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F9423A;
  font-weight: bold;
  font-size: 1.5em;
}

.optionsMenu {
  z-index: 6;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: white;
  width: 300px;
  height: 0px;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
}

.menuList {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: stretch;
  color: black;
  font-size: 1em;
  font-weight: normal;
  font-family: 'Iceland', cursive;
}

.menuList li {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.menuList li button {
  border-radius: 5px;
  border: 2px solid #F9423A;
  color: #F9423A;
  margin: 0px 20px;
  padding: 10px 20px;
}

.menuList li button:hover {
  background-color: #F9423A;
  color: white;
}

.menuList li:last-child {
  justify-content: center;
}

.victoryBackdrop {
  z-index: 9;
  position: fixed;
  height: 100%;
  width: 0%;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

.victoryBanner {
  position: fixed;
  padding: 50px 0;
  width: 0%;
  background-color: white;
  top: 50%;
  margin-top: -75px;
  z-index: 10;
  font-size: 2em;
  font-weight: normal;
  font-family: 'Iceland', cursive;
  text-align: center;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

.visible {
  width: 100%;
  visibility: visible;
}

.shown {
  height: 300px;
  visibility: visible;
}

.board {
  position: relative;
  z-index: 4;
  padding: 1%;
  width: 90%;
  min-width: 325px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row:nth-child(3n) {
  border-bottom: 2px solid gray;
}

.row:nth-child(3n) > .tile {
  margin-bottom: 1%;
}

.row:nth-child(3n+1) > .tile {
  margin-top: 1%;
}

.row:last-child {
  padding-bottom: 0;
  border: 0;
}

.tile {
  position: relative;
  width: 10%;
  padding-bottom: 10%;
  margin: 0.2%;
  border-radius: 5%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border: 1px solid black;
  box-sizing: border-box;
}

.vertical-line {
  box-sizing: border-box;
  width: 2px;
  margin: 0 1%;
  background-color: gray;
}

.mini {
  flex: 0 27%;
  height: 27%;
  position: relative;
  border-radius: 20%;
  margin: 2%;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  box-sizing: border-box;
  border: 1px solid black;
}

.invalid {
  transform: translate(0px, 100%) rotate(120deg);
  opacity: 0;
}

.mini:hover {
  cursor: pointer;
  box-shadow: 0 0 8px rgba(30, 2, 63, 0.8);
}

.tile:hover {
  cursor: pointer;
  box-shadow: 0 0 8px rgba(30, 2, 63, 0.8);
}

.tile input {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  color: transparent;
}

.tile input:hover {
  cursor: pointer;
}

.value-0 {
  box-shadow: none;
  border: 1px solid transparent;
}

.value-0:hover {
  top: 0;
  cursor: default;
  box-shadow: none;
}

.absolute_container {
  display: flex;
  flex-wrap: wrap;
  cursor: default;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow: visible;
}

.fixed {
  opacity: 0.7;
}

.fixed:hover {
  cursor: default;
  box-shadow: none;
}

.help-button:hover {
  cursor: pointer;
}

.invalid:hover {
  cursor: default;
}
