.value-1 {
  background-color: #565656;
}

.value-2 {
  background-color: red;
}

.value-3 {
  background-color: orange;
}

.value-4 {
  background-color: yellow;
}

.value-5 {
  background-color: green;
}

.value-6 {
  background-color: blue;
}

.value-7 {
  background-color: indigo;
}

.value-8 {
  background-color: violet;
}

.value-9 {
  background-color: white;
}
